body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color:white ;
    color: #1A1A1A;
    margin: 30px;
    line-height: 1.6;
}

header {
    background-color: #1E3A8A;
    color: #F97316;
    text-align: center;
    padding: 25px;
}

nav {
    background-color: #DBEAFE;
    color: #1E3A8A;
    text-align: center;
    padding: 15px;
}

/* --- SECTION 1: ABOUT (LIGHT BLUE) --- */
#about {
    background-color: #EFF6FF;
    color: #1E3A8A;
    text-align: center;
    padding: 25px;
    margin: 20px;
}

/* --- SECTION 2: EVENT HIGHLIGHTS (DARK BLUE) --- */
#EventHighlights {
    background-color: #1E3A8A;
    color: white;
    text-align: center;
    padding: 25px;
    margin: 20px;
}

/* --- SECTION 3: EVENT SCHEDULE (LIGHT BLUE) --- */
#EventSchedule {
    background-color: #EFF6FF;
    color: #1E3A8A;
    text-align: center;
    padding: 25px;
    margin: 20px;
}

/* --- SECTION 4: COMPETITIONS (DARK BLUE) --- */
#Competitions {
    background-color: #1E3A8A;
    color: white;
    text-align: center;
    padding: 25px;
    margin: 20px;
}

/* --- SECTION 5: EVENT IMAGE (LIGHT ORANGE) --- */
#EventImage {
    background-color: #FFF7ED;
    color: #1E3A8A;
    text-align: center;
    padding: 25px;
    margin: 20px;
}

/* --- SECTION 6: USEFUL RESOURCES (DARK BLUE) --- */
#useful-resources {
    background-color: #1E3A8A;
    color: white;
    text-align: center;
    padding: 25px;
    margin: 20px;
}

/* --- SECTION 7: REGISTRATION FORM (LIGHT ORANGE) --- */
#registrationform {
    background-color: #FFF7ED;
    color: #1E3A8A;
    text-align: center;
    padding: 25px;
    margin: 20px;
}

/* --- SECTION 8: DIV AND SPAN USAGE (DARK BLUE) --- */
#divspan {
    background-color: #1E3A8A;
    color: white;
    text-align: center;
    padding: 25px;
    margin: 20px;
}

/* --- SECTION 9: SPEAKER GUEST (LIGHT BLUE) --- */
#speaker-guest {
    background-color: #EFF6FF;
    color: #1E3A8A;
    text-align: center;
    padding: 25px;
    margin: 20px;
}

/* --- SECTION 10: FILE SUBMISSION (DARK BLUE) --- */
#file-submission {
    background-color: #1E3A8A;
    color: white;
    text-align: center;
    padding: 25px;
    margin: 20px;
}

/* --- SECTION 11: SEARCH BAR (LIGHT BLUE) --- */
#searchbar {
    background-color: #EFF6FF;
    color: #1E3A8A;
    text-align: center;
    padding: 25px;
    margin: 20px;
}

/* --- SECTION 12: RANGE / RATE US (DARK BLUE) --- */
#range {
    background-color: #1E3A8A;
    color: white;
    text-align: center;
    padding: 25px;
    margin: 20px;
}

/* --- SECTION 13: CONTACT US (LIGHT ORANGE) --- */
#contact-us {
    background-color: #FFF7ED;
    color: #1E3A8A;
    text-align: center;
    padding: 25px;
    margin: 20px;
}

/* --- SECTION 14: FAQ (DARK BLUE) --- */
#faq {
    background-color: #1E3A8A;
    color: white;
    text-align: center;
    padding: 25px;
    margin: 20px;
}

footer {
    background-color: #FFF7ED;
    color: #1E3A8A;
    text-align: center;
    padding: 25px;
}
